body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #fff;
  background-image: -webkit-radial-gradient(farthest-side circle at 20% 20%, #1a223f, #13141a);
  background-image: radial-gradient(farthest-side circle at 20% 20%, #1a223f, #13141a);
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

div {
    -2em;
}

.card {
      position: absolute;
      left: 0;
      top: 0;
      border: 2px solid #aaa;
      padding: 25px;
      width: 200px;
      box-shadow: 0 0 10px #618c8e;
      background: rgba(30, 69, 76, 0.8); }
}

.card:hover {
      box-shadow: 0 0 15px 0px #8fb7a3;
      border: 2px solid #ccc; }
}

.card:hover {
      box-shadow: 0 0 25px #8fb7a3; }
}

.panel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


a {
    color: #ffffff;
}

.subMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #618c8e;
    width: 30px;
    background: -moz-linear-gradient(top, rgba(30, 69, 76, 0.8), rgba(99, 109, 148, 0.8));
    background: -webkit-linear-gradient(top, rgba(30, 69, 76, 0.8), rgba(99, 109, 148, 0.8));
    background: -o-linear-gradient(top, rgba(30, 69, 76, 0.8), rgba(99, 109, 148, 0.8));
    text-align: center;
    z-index: 2;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
}

.subMenu:hover {
  text-shadow: 0 0 2px #ffd;
  box-shadow: 0 0 15px #8fb7a3; }

.subMenu:active {
  background: -moz-linear-gradient(top, rgba(30, 69, 76, 0.8), rgba(150, 171, 255, 0.8));
  background: -webkit-linear-gradient(top, rgba(30, 69, 76, 0.8), rgba(150, 171, 255, 0.8));
  background: -o-linear-gradient(top, rgba(30, 69, 76, 0.8), rgba(150, 171, 255, 0.8)); }
